
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p style="font-family: 'IBM Plex Sans', sans-serif;; font-size: larger;">TYP❤️THE YOUTH PROJECT</p>
  </div>
</div>
</body>
</html>
